@media (min-width: 1025px) and (max-width: 2500px) {
  .forcast-card {
    width: 110px;
  }
}
@media (min-width: 1024px) and (max-width: 1370px) {
  .forcast-card {
    width: 110px;
  }
  .search-bar {
    width: 25%;
  }
  .hero-section {
    width: 65%;
  }
  .forcast {
    width: 98%;
    margin: 10px;
    padding: 10px;
  }
  .future {
    width: 29%;
  }
  .hero-container {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  /* .date-time {
    text-align: center;
  } */
}
@media (min-width: 769px) and (max-width: 1023px) {
  .search-bar {
    width: 40%;
  }
  .hero-section,
  .forcast {
    width: 90%;
    margin: 10px;
    padding: 10px;
  }
  .future {
    width: 90%;
  }
  .forcast {
    order: 1;
  }
  .date-time {
    text-align: center;
  }
  .forcast .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .search-bar {
    width: 48%;
    padding: 20px;
  }
  .hero-section,
  .forcast {
    width: 93%;
    margin: 10px;
  }
  .future {
    width: 93%;
  }
  .forcast {
    order: 1;
  }
  .date-time {
    text-align: center;
  }
  .forcast-card {
    width: 99px;
  }
  .forcast-card h5 {
    font-size: 15px;
  }
  .sun-icons {
    width: 80px;
  }
  .forcast .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 200px) and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .search-bar,
  main {
    width: 100%;
  }
  .hero-section,
  .forcast {
    width: 93%;
    margin: 10px;
  }
  .future {
    width: 93%;
  }
  .forcast {
    order: 1;
  }
  .date-time {
    text-align: center;
  }
  .forcast-card {
    width: 99px;
  }
  .forcast-card h5 {
    font-size: 15px;
  }
  .sun-icons {
    width: 60px;
  }
  .forcast .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
